@charset "UTF-8";

:root {
  --black: #000;
  --white: #fff;
  --main-color: var(--black);
  --add-offsize: 1rem;
}

@font-face {
  font-family: Druk;
  font-display: swap;
  src: url("../fonts/Druk Wide Cy Web Bold Regular.woff2") format("woff2"), url("../fonts/Druk Wide Cy Web Bold Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: var(--main-color);
  line-height: 1;
  font-family: "Roboto";
  font-size: var(--main-offsize);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.no-webp .wrapper{
  background: url("../img/bg.jpg") 0 0/cover no-repeat; }

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 41.25rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.form {
  color: var(--white);
  border: 5px solid #00B5FF;
  padding: 5px;
}

.form__body {
  -webkit-box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}

.form__title {
  text-align: center;
  letter-spacing: 0.05em;
  line-height: 1.2222222222;
  font-family: Druk;
}

@supports (font-size: clamp( 1.375rem , -0.8716216216rem  +  7.5675675676vw , 2.25rem )) {
  .form__title {
    font-size: clamp( 1.375rem , -0.8716216216rem  +  7.5675675676vw , 2.25rem );
  }
}

@supports not (font-size: clamp( 1.375rem , -0.8716216216rem  +  7.5675675676vw , 2.25rem )) {
  .form__title {
    font-size: calc(1.375rem + 0.875 * (100vw - 29.6875rem) / 11.5625);
  }
}

.form__row:not(:last-child) {
  margin: 0 0 1.25rem 0;
}

.form__row.checkbox {
  margin: 0 0 2.5rem 0;
}

.form__button {
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #00B5FF;
  border-radius: 60px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  border: 1px solid #fff;
  color: var(--white);
  background-color: transparent;
  line-height: 1.1666666667;
  -webkit-transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
  transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
}

.input::-webkit-input-placeholder {
  color: inherit;
  font-size: inherit;
}

.input::-moz-placeholder {
  color: inherit;
  font-size: inherit;
}

.input:-ms-input-placeholder {
  color: inherit;
  font-size: inherit;
}

.input::-ms-input-placeholder {
  color: inherit;
  font-size: inherit;
}

.input::placeholder {
  color: inherit;
  font-size: inherit;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox__input:focus + .checkbox__label:before {
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
}

.checkbox__input:checked + .checkbox__label:after {
  opacity: 1;
}

.checkbox__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 20px;
}

.checkbox__label:before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  width: 20px;
  height: 20px;
  border: 1px solid #a7a9ac;
}

.checkbox__label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 4px;
  width: 12px;
  height: 9px;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
  background: url("../img/checkmark.svg") center/contain no-repeat;
}

.checkbox__text {
  font-size: 1rem;
}

.select {
  position: relative;
}

.select__body {
  position: relative;
}

.select__title {
  width: 100%;
  background-color: transparent;
  color: var(--white);
  border-radius: 0 !important;
  display: block;
  border: 1px solid #fff;
  line-height: 1.1666666667;
  text-align: left;
  -webkit-transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
  transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value:after {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12px;
          flex: 0 0 12px;
  height: 7px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/arr-down.svg") 0 0 no-repeat;
}

._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 59px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #00B5FF;
  border-top: 0;
  border-bottom: 0;
  border: 1px solid #fff;
  padding: 10px 0px 5px 0px;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  color: #fff;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.select__option._select-selected {
  background-color: #fff;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select._select-open {
  z-index: 5;
}

._select-tag {
  cursor: pointer;
}

.page {
  position: relative;
}

@media (min-width: 29.99875em) {
  :root {
    --main-offsize: 1.125rem;
    --title-offsize: 2.5rem;
  }

  .form__title {
    margin: 0 0 3.75rem 0;
  }

  .form__button {
    padding: 15px;
    font-size: 1rem;
  }

  .input {
    padding: 18px 30px;
    font-size: 1.125rem;
  }

  .checkbox__text br {
    display: none;
  }

  .select__title {
    padding: 18px 30px;
    font-size: 1.125rem;
  }

  .select__option {
    padding: 5px 30px;
    font-size: 1.125rem;
  }

  .page {
    padding-bottom: 55px;
  }
}

@media (min-width: 61.99875em) {
  .form__body {
    padding: 60px 70px;
  }

  .page {
    padding-top: 135px;
  }

  .page__decor {
    position: absolute;
    top: 103px;
    left: 60px;
    color: var(--white);
    font-weight: 700;
    font-family: Druk;
    line-height: 1.2083333333;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }

@supports (font-size: clamp( 2.5rem , 1.2885085575rem  +  1.95599022vw , 3rem )) {
    .page__decor {
      font-size: clamp( 2.5rem , 1.2885085575rem  +  1.95599022vw , 3rem );
    }
}

@supports not (font-size: clamp( 2.5rem , 1.2885085575rem  +  1.95599022vw , 3rem )) {
    .page__decor {
      font-size: calc(2.5rem + 0.5 * (100vw - 61.9375rem) / 25.5625);
    }
}

  .page__logo {
    position: absolute;
    right: 60px;
    top: 60px;
  }
}

@media (max-width: 74.99875em) {
  .wrapper {
    background-position: center;
  }
}

@media (max-width: 61.99875em) {
  .page {
    padding-top: 50px;
  }

  .page__decor {
    display: none;
  }

  .page__logo {
    max-width: 12.5rem;
    margin: 0px auto 2.5rem;
  }

  .page__logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 29.99875em) {
  :root {
    --main-offsize: 1rem;
    --title-offsize: 1.875rem;
  }

  .form__body {
    padding: 40px 20px;
  }

  .form__title {
    margin: 0 0 2.5rem 0;
  }

  .form__button {
    padding: 17px;
    font-size: 0.875rem;
  }

  .input {
    padding: 17px 20px;
    font-size: 0.875rem;
  }

  .select__title {
    padding: 17px 20px;
    font-size: 0.875rem;
  }

  .select__option {
    padding: 5px 20px;
    font-size: 0.875rem;
  }

  .page {
    padding-bottom: 40px;
  }
}

@media (min-width: 29.99875em) and (max-width: 61.99875em) {
  .form__body {
    padding: 40px;
  }
}

@media (any-hover: hover) {
  .form__button:hover {
    background-color: #0b8abd;
  }

  .input:hover {
    border-color: #00B5FF;
    color: #00B5FF;
  }

  .select__title:hover {
    border-color: #00B5FF;
    color: #00B5FF;
  }

  .select__option:hover {
    color: #cecece;
  }
}

.webp .wrapper{ background: url(../img/bg.webp) 0 0/cover no-repeat; }